Repository tardis-sn/tardis, pull requests merged in 2021-12, with the labels that each got.

#1830 Name plotly traces in SDEC plot
  tardis/visualization/tools/sdec_plot.py
Labels: bugfix, visualization

#1832 Convert quantities to arrays when plotting in SDEC plot
  tardis/visualization/tools/sdec_plot.py
Labels: bugfix, visualization

#1833 Editing instructions for contributing to the documentation
  docs/development/documentation_guidelines.rst
  docs/development/documentation_preview.rst
  docs/development/index.rst
Labels: documentation

#1706 Changed to fstring
  tardis/analysis.py
  tardis/gui/widgets.py
  tardis/io/parsers/csvy.py
  tardis/io/util.py
  tardis/model/base.py
Labels: codestyle

#1748 Tracking RPacket Properties in Montecarlo Single Packet Loop Function
  docs/io/output/index.rst
  docs/io/output/rpacket_tracking.ipynb
  tardis/io/schemas/montecarlo.yml
  tardis/montecarlo/base.py
  tardis/montecarlo/montecarlo_configuration.py
  tardis/montecarlo/montecarlo_numba/base.py
  tardis/montecarlo/montecarlo_numba/numba_interface.py
  tardis/montecarlo/montecarlo_numba/single_packet_loop.py
  tardis/montecarlo/tests/test_montecarlo.py
Labels: numba-montecarlo, new feature 🚧, logging

#1841 Fixed the Failing Documentation for Tracking `RPacket` Feature
  docs/io/output/rpacket_tracking.ipynb
  tardis/montecarlo/montecarlo_numba/numba_interface.py
Labels: bugfix, priority - high :fire:, documentation

#1842 Fixed fstring issue from mixing quotes and reformatted files from fstring PR with black
  tardis/analysis.py
  tardis/gui/widgets.py
  tardis/io/parsers/csvy.py
  tardis/io/util.py
Labels: easy, bugfix

#1834 Adding Luminosity Integral Explanation to Supernova Configuration
  .mailmap
  docs/io/configuration/components/supernova.rst
Labels: documentation
