Repository tardis-sn/tardis, pull requests merged in 2021-11, with the labels that each got.

#1817 Fixing SDEC docs page
  docs/development/documentation_guidelines.rst
  docs/io/visualization/sdec_plot.ipynb
Labels: documentation, visualization

#1803 Option to make docs build in parallel
  .github/workflows/documentation-build.yml
  .github/workflows/documentation-preview.yml
  docs/Makefile
  docs/development/documentation_guidelines.rst
Labels: documentation

#1799 Bug fixes and Improvements in Custom Abundance Widget
  tardis/visualization/widgets/custom_abundance.py
Labels: visualization
