Repository tardis-sn/tardis, pull requests merged in 2021-08, with the labels that each got.

#1721 Restructure Model Configuration Documentation
  docs/io/configuration/components/models/abundancecust/tardis_configv1_abundance_cust_example.yml
  docs/io/configuration/components/models/csvy_full_rad.csvy
  docs/io/configuration/components/models/densitycust/tardis_configv1_density_cust_example.yml
  docs/io/configuration/components/models/index.rst
  docs/io/configuration/components/montecarlo.rst
  tardis/io/schemas/base.yml
  tardis/io/schemas/csvy_model.yml
  tardis/io/schemas/model_definitions.yml
Labels: configuration, documentation, model

#1768 Renamed `specific` log flag to `specific_log_level`
  docs/io/optional/logging_configuration.ipynb
  docs/io/optional/tardis_config_logger.yml
  tardis/base.py
  tardis/io/logger/logger.py
  tardis/io/logger/tests/test_logging.py
  tardis/io/schemas/debug.yml
  tardis/io/tests/data/tardis_configv1_verysimple_logger.yml
Labels: logging

#1772 Reverse legend in Plasma Convergence Plots
  tardis/visualization/tools/convergence_plot.py
Labels: visualization

#1770 Rename cplots to convergence_plots
  docs/io/visualization/convergence_plot.ipynb
  tardis/base.py
  tardis/simulation/base.py
  tardis/visualization/tools/convergence_plot.py
  tardis/visualization/tools/tests/test_convergence_plot.py
Labels: codestyle

#1778 Fix Hover Data in Plasma Convergence Plots
  tardis/visualization/tools/convergence_plot.py
Labels: priority - high :fire:, visualization

#1775 orchestrating continuous delivery pipeline
  .github/workflows/documentation-build.yml
  .github/workflows/update-changelog.yml
  .github/workflows/update-zenodo-json.yml
  azure-pipelines/release-version.yml
Labels: CI-CD

#1703 Adding Progress Bars
  docs/io/images/progress_bars_demo.gif
  docs/io/output/index.rst
  docs/io/output/progress_bars.ipynb
  docs/quickstart/quickstart.ipynb
  tardis/base.py
  tardis/montecarlo/base.py
  tardis/montecarlo/montecarlo_numba/base.py
  tardis/simulation/base.py
  tardis/util/base.py
Labels: Work in progress, numba, visualization, new feature 🚧
