Repository tardis-sn/tardis, pull requests merged in 2022-08, with the labels that each got.

#2073 rpacket_tracker returns dataframe
  .mailmap
  docs/io/output/rpacket_tracking.ipynb
  tardis/montecarlo/montecarlo_numba/r_packet.py
  tardis/montecarlo/montecarlo_numba/tests/test_base.py
  tardis/montecarlo/montecarlo_numba/tests/test_r_packet.py
  tardis/simulation/base.py
Labels: logging, build-docs

#2093 Fixing Docs Warnings
  .github/workflows/build-docs.yml
  .gitignore
  docs/conf.py
  docs/contributing/development/profiling/profiling_example.ipynb
  docs/contributing/development/profiling/tardis_profiling_threads.ipynb
  docs/io/configuration/components/models/converters/arepo_to_tardis.ipynb
  docs/physics/energy_input/gammaray_deposition.ipynb
  tardis/io/config_validator.py
  tardis/montecarlo/montecarlo_numba/formal_integral.py
Labels: documentation, build-docs

#2106 Resturcture ABCs import from collections module
  tardis/io/util.py
Labels: bugfix :beetle:

#2110 removed scatter function from interaction.py
  tardis/montecarlo/montecarlo_numba/interaction.py
Labels: easy

#2091 Added interaction type in rpacket_tracker
  docs/io/output/rpacket_tracking.ipynb
  tardis/montecarlo/montecarlo_numba/numba_interface.py
  tardis/montecarlo/montecarlo_numba/r_packet.py
  tardis/montecarlo/montecarlo_numba/tests/test_r_packet.py
Labels: logging, build-docs

#2107 Added positronium notes
  docs/physics/energy_input/index.rst
  docs/physics/energy_input/positronium.rst
  docs/tardis.bib
Labels: documentation, build-docs

#2105 Documentation for Features In-Progress
  docs/contributing/in_progress/index.rst
  docs/contributing/roadmap.rst
  docs/index.rst
Labels: documentation, build-docs

#2108 Rework Estimators and Convergence Docs
  docs/index.rst
  docs/io/configuration/components/models/index.rst
  docs/io/configuration/components/montecarlo.rst
  docs/io/configuration/components/plasma.rst
  docs/io/configuration/components/supernova.rst
  docs/physics/est_and_conv/convergence.rst
  docs/physics/est_and_conv/estimators.ipynb
  docs/physics/est_and_conv/index.rst
  docs/physics/intro/index.rst
  docs/physics/montecarlo/basicprinciples.rst
  docs/physics/montecarlo/estimators.rst
  docs/physics/montecarlo/index.rst
  docs/physics/montecarlo/initialization.ipynb
  docs/physics/montecarlo/propagation.rst
  docs/physics/setup/index.rst
  docs/physics/setup/model.ipynb
  docs/physics/spectrum/formal_integral.rst
  docs/physics/update_and_conv/tardis_example.yml
  docs/physics/update_and_conv/update_and_conv.ipynb
Labels: documentation, build-docs

#2098 New Composition Class
  tardis/model/base.py
  tardis/model/tests/test_base.py
Labels: model, restructure

#2111 New TARDIS flowchart and cleaning up physics walkthrough
  docs/contributing/in_progress/index.rst
  docs/contributing/in_progress/nebular_phase/gammaray_deposition.ipynb
  docs/contributing/in_progress/nebular_phase/positronium.rst
  docs/index.rst
  docs/physics/energy_input/index.rst
  docs/physics/intro/images/tardis_flowchart.png
  docs/physics/intro/index.rst
  docs/physics/intro/light_and_matter.rst
  docs/physics/intro/tardis_flowchart.dot
  docs/physics/montecarlo/propagation.rst
  docs/tardis.bib
Labels: documentation, build-docs

#2103 New geometry class
  tardis/model/base.py
  tardis/model/tests/test_base.py
Labels: restructure

#2117 Runs cells in arepo notebook to avoid downloading files
  docs/io/configuration/components/models/converters/arepo_to_tardis.ipynb
Labels: priority - high :fire:, build-docs

#2115 added docs for montecarlo packet visualization
  docs/io/visualization/index.rst
  docs/io/visualization/montecarlo_packet_visualization.ipynb
Labels: visualization, build-docs
