Repository tardis-sn/tardis, pull requests merged in 2022-09, with the labels that each got.

#2118 Integrating experimental model state
  tardis/io/tests/data/non_uniform_isotope_abundance.dat
  tardis/io/tests/data/tardis_configv1_isotope_iabund.yml
  tardis/model/base.py
  tardis/model/tests/test_base.py
  tardis/simulation/base.py
Labels: restructure

#2099 Arbitrary isotope decay handling and positronium
  docs/contributing/in_progress/nebular_phase/gammaray_deposition.ipynb
  tardis/energy_input/energy_source.py
  tardis/energy_input/indivisible_packets.py
Labels: nebular

#2095 Removing outdated documentation and creating developer tools section
  docs/contributing/development/index.rst
  docs/contributing/tools/hdf_writer.ipynb
  docs/contributing/tools/index.rst
  docs/contributing/tools/isotope_pd_subclass.ipynb
  docs/contributing/tools/profiling/cpu_threads_dict_128_threads_1_node.csv
  docs/contributing/tools/profiling/index.rst
  docs/contributing/tools/profiling/profiling_example.ipynb
  docs/contributing/tools/profiling/tardis_example.yml
  docs/contributing/tools/profiling/tardis_prof.png
  docs/contributing/tools/profiling/tardis_profiling_threads.ipynb
  docs/contributing/tools/profiling/threads_dict_128_threads_1_node.csv
  docs/index.rst
  docs/outdated/commandline.rst
  docs/outdated/index.rst
  docs/outdated/init_trad_bug.ipynb
  docs/outdated/integrator.ipynb
  docs/outdated/old_gui.rst
  docs/outdated/old_install.rst
  docs/outdated/openmp.rst
  docs/outdated/using_formal_integral.rst
Labels: documentation, build-docs

#1923 Fixing latex_label Parameter within write_to_tex function
  tardis/plasma/base.py
Labels: plasma, bugfix :beetle:

#2096 Small bug fix for He NLTE.
  .mailmap
  tardis/plasma/properties/nlte.py
Labels: plasma, bugfix :beetle:

#2124 Cleaning model state
  tardis/model/base.py
Labels: model, restructure
