Repository tardis-sn/tardis, pull requests merged in 2022-03, with the labels that each got.

#1917 Continuum Opacities
  tardis/montecarlo/montecarlo_numba/base.py
  tardis/montecarlo/montecarlo_numba/calculate_distances.py
  tardis/montecarlo/montecarlo_numba/continuum/r_packet_transport_continuum.py
  tardis/montecarlo/montecarlo_numba/formal_integral.py
  tardis/montecarlo/montecarlo_numba/interaction.py
  tardis/montecarlo/montecarlo_numba/macro_atom.py
  tardis/montecarlo/montecarlo_numba/numba_interface.py
  tardis/montecarlo/montecarlo_numba/opacities.py
  tardis/montecarlo/montecarlo_numba/r_packet_transport.py
  tardis/montecarlo/montecarlo_numba/single_packet_loop.py
  tardis/montecarlo/montecarlo_numba/tests/conftest.py
  tardis/montecarlo/montecarlo_numba/tests/test_interaction.py
  tardis/montecarlo/montecarlo_numba/tests/test_numba_interface.py
  tardis/montecarlo/montecarlo_numba/tests/test_packet.py
  tardis/montecarlo/montecarlo_numba/tests/test_vpacket.py
  tardis/montecarlo/montecarlo_numba/vpacket.py
  tardis/plasma/properties/continuum_processes.py
Labels: bugfix, opacity

#1918 Fix documentation build failure due to PR #1823
  docs/io/visualization/convergence_plot.ipynb
Labels: bugfix, visualization

#1919 GPU Options
  tardis/io/schemas/spectrum.yml
  tardis/montecarlo/base.py
  tardis/montecarlo/montecarlo_numba/formal_integral.py
Labels: montecarlo, numba-montecarlo, new feature 🚧

#1928 Fixing various physics documentation issues
  docs/physics/images/propagation_direction.ggb
  docs/physics/images/propagation_direction.png
  docs/physics/montecarlo/initialization.ipynb
  docs/physics/montecarlo/propagation.rst
  docs/physics/setup/model.ipynb
  docs/physics/spectrum/basic.ipynb
  docs/quickstart.ipynb
Labels: documentation

#1938 Pin Jinja version
  tardis_env3.yml
Labels: documentation, conda

#1899 Filtering Levels Parameter within Plasma Calculations
  tardis/io/atom_data/base.py
  tardis/montecarlo/montecarlo_numba/formal_integral.py
  tardis/plasma/properties/atomic.py
Labels: plasma, atomic
