Repository tardis-sn/tardis, pull requests merged in 2023-08, with the labels that each got.

#2376 Add init.py to energy input module
  tardis/energy_input/__init__.py
  tardis/energy_input/tests/__init__.py
  tardis/montecarlo/montecarlo_numba/tests/__init__.py
Labels: bugfix :beetle:, benchmarks

#2348 Fixes gamma-ray notebook to run more easily
  docs/contributing/in_progress/nebular_phase/gammaray_deposition.ipynb
Labels: documentation, build-docs

#2386 Integrate density in state object
  docs/io/output/to_hdf.ipynb
  tardis/io/model/density.py
  tardis/io/model_reader.py
  tardis/io/tests/test_model_reader.py
  tardis/model/base.py
  tardis/model/density.py
  tardis/model/tests/test_density.py
  tardis/visualization/widgets/custom_abundance.py
  tardis/visualization/widgets/tests/test_custom_abundance.py
Labels: model, restructure, build-docs

#2353 Benchmarks Comments and Atom Data Cache BugFix
  .github/workflows/benchmarks.yml
Labels: CI/CD, benchmarks

#2142 added documentation for using particular refdata files for unit testing
  docs/contributing/development/running_tests.rst
Labels: documentation, build-docs

#2385 Creating collisional excitation/deexcitation coefficient matrix for NLTE excitation treatment
  tardis/plasma/properties/nlte_rate_equation_solver.py
  tardis/plasma/tests/test_nlte_excitation.py
Labels: plasma, build-docs

#2338 Test conda-forge package installation
  .github/workflows/conda-forge.yml
Labels: conda, CI/CD, install, build-docs

#2396 Fix for Slack message
  .github/workflows/conda-forge.yml
Labels: CI/CD, build-docs

#2400 Add `__init__.py` in `radiation_field` subpackage
  tardis/radiation_field/__init__.py
Labels: benchmarks

#2399 Update documentation about the parallelization problem
  docs/index.rst
  docs/io/configuration/components/index.rst
  docs/io/configuration/index.rst
  docs/quickstart.ipynb
Labels: build-docs

#2401 `asv run` continue on error
  .github/workflows/benchmarks.yml
Labels: benchmarks

#2398 Disable Parallelization
  tardis/montecarlo/base.py
  tardis/plasma/tests/data/config_init_trad.yml
Labels: priority - high :fire:

#2403 Reading fully ionized species with species_string_to_tuple
  tardis/util/base.py
Labels: bugfix :beetle:
