Repository tardis-sn/tardis, pull requests merged in 2023-09, with the labels that each got.

#2288 Add documentation for LFS caching, The Bridge and Save Atomic Files Workflow
  docs/contributing/development/continuous_integration.rst
  docs/contributing/development/running_tests.rst
Labels: documentation, build-docs, benchmarks

#2407 Allow Simulation Tests to Run Independently
  tardis/montecarlo/tests/test_packet_source.py
Labels: bugfix :beetle:, montecarlo :game_die:, priority - high :fire:, testing :vertical_traffic_light:

#2410 upgrading env in 2022
  conda-linux-64.lock
  conda-lock.yml
  conda-osx-64.lock
  tardis/io/atom_data/base.py
  tardis/io/model/readers/artis.py
  tardis/io/tests/test_HDFWriter.py
  tardis/io/tests/test_atomic.py
  tardis/model/base.py
  tardis/montecarlo/montecarlo_numba/base.py
  tardis/montecarlo/montecarlo_numba/formal_integral.py
  tardis/montecarlo/tests/test_spectrum.py
  tardis/plasma/properties/ion_population.py
  tardis/plasma/standard_plasmas.py
  tardis/plasma/tests/test_complete_plasmas.py
  tardis/plasma/tests/test_hdf_plasma.py
  tardis/simulation/tests/test_simulation.py
  tardis/tests/test_tardis_full_formal_integral.py
  tardis/visualization/tools/sdec_plot.py
  tardis/visualization/tools/tests/test_sdec_plot.py
  tardis/visualization/widgets/line_info.py
  tardis/visualization/widgets/tests/test_shell_info.py
  tardis_env3.yml
Labels: bugfix :beetle:, conda, infrastructure, build-docs, benchmarks

#2415 In gamma ray code : Changed times to np.geomspace
  .mailmap
  tardis/energy_input/gamma_ray_transport.py
Labels: codestyle
