Repository tardis-sn/tardis, pull requests merged in 2023-10, with the labels that each got.

#2424 Ignore tests in docstr coverage
  pyproject.toml
Labels: CI/CD, codestyle

#2443 Fix duplicate entries in continuum line list
  tardis/plasma/properties/atomic.py
Labels: bugfix :beetle:

#2447 Fix numba parallel issues
  docs/io/configuration/index.rst
  docs/quickstart.ipynb
  tardis/montecarlo/base.py
  tardis/montecarlo/montecarlo_numba/base.py
Labels: bugfix :beetle:, build-docs

#2441 Change glob patterns in `setup.cfg`
  .github/workflows/tests.yml
  setup.cfg
Labels: priority - high :fire:, install

#2450 Add FAQ section to documentation
  docs/faq.rst
  docs/index.rst
Labels: documentation, build-docs

#2432 Remove lock file creation from pre release workflow
  .github/workflows/pre-release.yml
  docs/installation.rst
Labels: CI/CD, infrastructure, build-docs
