Repository tardis-sn/tardis, pull requests merged in 2023-06, with the labels that each got.

#2260 [WIP] Basic Benchmarks Using ASV
  .github/workflows/benchmarks.yml
  asv.conf.json
  asv/asv.conf.json
  asv/benchmarks/benchmarks.py
  benchmarks/__init__.py
  benchmarks/benchmark_run_tardis.py
  benchmarks/data/tardis_configv1_benchmark.yml
Labels: testing :vertical_traffic_light:, CI/CD, benchmarks

#2326 Track bf and ff opacities with vpackets
  .mailmap
  tardis/montecarlo/montecarlo_numba/vpacket.py
Labels: bugfix :beetle:

#2329 Move packet seeds logic into PacketSource instead of MontecarloTransport
  docs/io/optional/custom_source.ipynb
  docs/physics/montecarlo/initialization.ipynb
  tardis/io/model_reader.py
  tardis/io/tests/test_model_reader.py
  tardis/montecarlo/base.py
  tardis/montecarlo/montecarlo_numba/numba_interface.py
  tardis/montecarlo/packet_source.py
  tardis/montecarlo/tests/test_packet_source.py
Labels: montecarlo :game_die:, restructure

#2336 Fix doc failure after restructuring packet source seed
  docs/physics/montecarlo/initialization.ipynb
Labels: montecarlo :game_die:, restructure, build-docs

#2219 Remove dead (unused) fixtures
  tardis/gui/tests/test_gui.py
  tardis/montecarlo/montecarlo_numba/tests/conftest.py
  tardis/montecarlo/tests/conftest.py
  tardis/montecarlo/tests/test_packet_source.py
  tardis/visualization/widgets/tests/test_custom_abundance.py
Labels: montecarlo :game_die:, testing :vertical_traffic_light:

#2337 Seperate the last iteration from Simulation.run()
  docs/contributing/tools/profiling/tardis_profiling_threads.ipynb
  docs/physics/intro/tardis_flowchart.dot
  docs/physics/montecarlo/index.rst
  tardis/base.py
  tardis/gui/tests/test_gui.py
  tardis/io/logger/tests/test_logging.py
  tardis/montecarlo/base.py
  tardis/montecarlo/montecarlo_numba/tests/test_base.py
  tardis/scripts/tardis
  tardis/simulation/base.py
  tardis/simulation/tests/test_simulation.py
  tardis/tests/integration_tests/test_integration.py
  tardis/tests/test_tardis_full.py
  tardis/tests/test_tardis_full_formal_integral.py
Labels: montecarlo :game_die:, restructure, build-docs

#2305 Fix to helium indexing in NLTE
  tardis/plasma/properties/helium_nlte.py
Labels: plasma, bugfix :beetle:

#2335 Dispatch Compare Refdata Event to Refdata Repo
  .github/workflows/dispatcher.yml
Labels: testing :vertical_traffic_light:, CI/CD, infrastructure, build-docs

#2330 Benchmarks Push To Repo Bug Fix
  .github/workflows/benchmarks.yml
Labels: testing :vertical_traffic_light:, CI/CD

#2221 Fix typos in repository
  .mailmap
  tardis/tests/test_tardis_full_formal_integral.py
Labels: codestyle
