Repository tardis-sn/tardis, pull requests merged in 2024-04, with the labels that each got.

#2552 Multiindex dataframe
  docs/multiindex_isotope_decay_data.ipynb
  tardis/energy_input/gamma_ray_channel.py
  tardis/energy_input/gamma_ray_transport.py
  tardis/energy_input/main_gamma_ray_loop.py
  tardis/energy_input/tests/test_gamma_ray_channel.py
  tardis/energy_input/tests/test_gamma_ray_transport.py
Labels: nebular, restructure, build-docs

#2542 Consistent units in packet source
  tardis/montecarlo/packet_source.py
  tardis/montecarlo/tests/test_packet_source.py
Labels: bugfix :beetle:, build-docs

#2563 Recategorizing tutorials as how-to guides to follow diataxis structure
  docs/conf.py
  docs/index.rst
  docs/io/configuration/tutorial_read_configuration.ipynb
  docs/io/grid/how_to_TardisGridTutorial.ipynb
  docs/io/model/how_to_read_cmfgen_model.ipynb
  docs/io/model/how_to_read_stella_model.ipynb
  docs/io/optional/how_to_custom_source.ipynb
  docs/io/optional/tutorial_callback_example.ipynb
  docs/io/optional/tutorial_logging_configuration.ipynb
  docs/io/output/how_to_physical_quantities.ipynb
  docs/io/output/how_to_plasma_graph.ipynb
  docs/io/output/how_to_rpacket_tracking.ipynb
  docs/io/output/how_to_to_hdf.ipynb
  docs/io/visualization/how_to_abundance_widget.ipynb
  docs/io/visualization/how_to_generating_widgets.ipynb
  docs/io/visualization/how_to_sdec_plot.ipynb
  docs/io/visualization/tutorial_convergence_plot.ipynb
  docs/io/visualization/tutorial_montecarlo_packet_visualization.ipynb
Labels: build-docs

#2328 Grotrian diagram IPyWidget functionality
  docs/io/images/energy_level_widget_demo.gif
  docs/io/images/energy_level_widget_options.gif
  docs/io/visualization/how_to_generating_widgets.ipynb
  docs/io/visualization/using_widgets.rst
  tardis/visualization/__init__.py
  tardis/visualization/widgets/grotrian.py
  tardis/visualization/widgets/grotrian_mockup.ipynb
Labels: visualization, build-docs

#2580 Removing flake8 job.
  .github/workflows/codestyle.yml
  .mailmap
Labels: testing :vertical_traffic_light:, CI/CD

#2509 Precommit
  .mailmap
  .pre-commit-config.yaml
  docs/contributing/development/code_quality.rst
Labels: codestyle

#2578 Updating embedded links in docs with new file names "tutorial_" and "how_to_"
  docs/io/configuration/components/spectrum.rst
  docs/io/configuration/index.rst
  docs/io/model/index.rst
  docs/io/optional/index.rst
  docs/io/output/callback.rst
  docs/io/output/index.rst
  docs/io/output/vpacket_logging.rst
  docs/io/visualization/index.rst
  docs/io/visualization/tutorial_montecarlo_packet_visualization.ipynb
  docs/io/visualization/using_widgets.rst
  docs/physics/intro/index.rst
  docs/physics/montecarlo/initialization.ipynb
  docs/physics/setup/model.ipynb
  docs/physics/setup/setup_example.ipynb
  docs/physics/update_and_conv/update_and_conv.ipynb
  docs/quickstart.ipynb
Labels: build-docs

#2525 Montecarlo configuration refactor
  tardis/io/model_reader.py
  tardis/model/base.py
  tardis/model/parse_input.py
  tardis/montecarlo/base.py
  tardis/montecarlo/estimators/radfield_estimator_calcs.py
  tardis/montecarlo/estimators/radfield_mc_estimators.py
  tardis/montecarlo/estimators/tests/test_continuum_property_solver.py
  tardis/montecarlo/montecarlo_configuration.py
  tardis/montecarlo/montecarlo_numba/base.py
  tardis/montecarlo/montecarlo_numba/formal_integral.py
  tardis/montecarlo/montecarlo_numba/interaction.py
  tardis/montecarlo/montecarlo_numba/numba_interface.py
  tardis/montecarlo/montecarlo_numba/packet_collections.py
  tardis/montecarlo/montecarlo_numba/r_packet.py
  tardis/montecarlo/montecarlo_numba/single_packet_loop.py
  tardis/montecarlo/montecarlo_numba/tests/conftest.py
  tardis/montecarlo/montecarlo_numba/tests/test_base.py
  tardis/montecarlo/montecarlo_numba/tests/test_continuum.py
  tardis/montecarlo/montecarlo_numba/tests/test_interaction.py
  tardis/montecarlo/montecarlo_numba/tests/test_macro_atom.py
  tardis/montecarlo/montecarlo_numba/tests/test_numba_interface.py
  tardis/montecarlo/montecarlo_numba/tests/test_packet.py
  tardis/montecarlo/montecarlo_numba/tests/test_r_packet.py
  tardis/montecarlo/montecarlo_numba/tests/test_vpacket.py
  tardis/montecarlo/montecarlo_numba/vpacket.py
  tardis/montecarlo/packet_source.py
  tardis/montecarlo/tests/test_montecarlo.py
  tardis/montecarlo/tests/test_packet_source.py
  tardis/simulation/base.py
  tardis/transport/frame_transformations.py
  tardis/transport/geometry/calculate_distances.py
  tardis/transport/r_packet_transport.py
  tardis/transport/tests/test_doppler_factor.py
Labels: bugfix :beetle:, numba, restructure, build-docs, benchmarks

#2562 Reference Data Generation Fixes
  .github/workflows/tests.yml
  .github/workflows/update-refdata.yml
  tardis/montecarlo/montecarlo_numba/tests/test_base.py
  tardis/montecarlo/montecarlo_transport_state.py
  tardis/simulation/tests/test_simulation.py
  tardis/tests/fixtures/regression_data.py
  tardis/tests/test_tardis_full.py
  tardis/tests/test_tardis_full_formal_integral.py
Labels: work in progress 🚧, bugfix :beetle:, CI/CD

#2595 Fixes IntegrationError causing refdata generation failure
  tardis/montecarlo/montecarlo_transport_state.py
Labels: bugfix :beetle:

#2597 Modify Update Refdata to Push Regression Data Changes
  .github/workflows/update-refdata.yml
Labels: priority - high :fire:, infrastructure

#2577 Abundance widget bug fix
  docs/io/visualization/how_to_abundance_widget.ipynb
  tardis/visualization/widgets/custom_abundance.py
Labels: bugfix :beetle:, build-docs

#2546 Gamma-ray packet source refactor
  tardis/energy_input/GXPacket.py
  tardis/energy_input/__init__.py
  tardis/energy_input/gamma_packet_loop.py
  tardis/energy_input/gamma_ray_estimators.py
  tardis/energy_input/gamma_ray_interactions.py
  tardis/energy_input/gamma_ray_packet_source.py
  tardis/energy_input/gamma_ray_transport.py
  tardis/energy_input/main_gamma_ray_loop.py
  tardis/energy_input/samplers.py
  tardis/energy_input/tests/test_gamma_ray_packet_source.py
  tardis/energy_input/tests/test_util.py
  tardis/energy_input/util.py
  tardis/montecarlo/montecarlo_numba/opacities.py
  tardis/montecarlo/montecarlo_numba/tests/test_opacities.py
Labels: nebular, restructure

#2528 Convergence plot correction: Use step plots
  tardis/visualization/tools/convergence_plot.py
  tardis/visualization/tools/tests/test_convergence_plot.py
Labels: GSoC :sun_with_face:, build-docs
