Repository tardis-sn/tardis, pull requests merged in 2024-07, with the labels that each got.

#2656 fix benchmark action
  .github/workflows/benchmarks.yml
  .mailmap
  asv.conf.json
Labels: benchmarks

#2119 adding RPacketPlotter to TARDIS
  docs/io/visualization/tutorial_montecarlo_packet_visualization.ipynb
  tardis/visualization/__init__.py
  tardis/visualization/tools/rpacket_plot.py
  tardis/visualization/tools/tests/test_rpacket_plot.py
Labels: visualization, build-docs

#2694 Change setup.cfg to pyproject.toml
  docs/conf.py
  pyproject.toml
  setup.cfg
Labels: configuration, install, infrastructure

#2695 Logging - avoid the zero division warning
  tardis/plasma/properties/radiative_properties.py
Labels: bugfix :beetle:, logging, build-docs

#2667 Add arm64 conda-lock file
  .github/workflows/tests.yml
  conda-lock.yml
  conda-osx-arm64.lock
Labels: infrastructure, build-docs, benchmarks, run-generation-tests

#2696 Adds continuum marker to pytest and continuum tests
  .github/workflows/tests.yml
  pyproject.toml
  tardis/transport/montecarlo/estimators/tests/test_continuum_property_solver.py
  tardis/transport/montecarlo/tests/test_continuum.py
Labels: testing :vertical_traffic_light:

#2640 Refactor and add more benchmarks for montecarlo
  .mailmap
  benchmarks/benchmark_base.py
  benchmarks/run_tardis.py
  benchmarks/transport_geometry_calculate_distances.py
  benchmarks/transport_montecarlo_interaction.py
  benchmarks/transport_montecarlo_main_loop.py
  benchmarks/transport_montecarlo_numba_formal_integral_p.py
  benchmarks/transport_montecarlo_numba_interface.py
  benchmarks/transport_montecarlo_packet.py
  benchmarks/transport_montecarlo_r_packet.py
  benchmarks/transport_montecarlo_single_packet_loop.py
  benchmarks/transport_montecarlo_vpacket.py
Labels: montecarlo :game_die:, benchmarks

#2702 Benchmark fix for github actions
  benchmarks/run_tardis.py
  benchmarks/transport_montecarlo_numba_formal_integral_p.py
Labels: benchmarks

#2703 Pre Release Fix
  .github/workflows/pre-release.yml
Labels: bugfix :beetle:

#2677 Last Interaction Velocity Plot
  docs/io/output/vpacket_logging.rst
  docs/io/visualization/how_to_liv_plot.ipynb
  docs/io/visualization/index.rst
  tardis/transport/montecarlo/base.py
  tardis/transport/montecarlo/montecarlo_transport_state.py
  tardis/transport/montecarlo/packet_collections.py
  tardis/transport/montecarlo/r_packet.py
  tardis/transport/montecarlo/r_packet_transport.py
  tardis/transport/montecarlo/tests/test_base.py
  tardis/transport/montecarlo/tests/test_numba_interface.py
  tardis/transport/montecarlo/vpacket.py
  tardis/visualization/__init__.py
  tardis/visualization/plot_util.py
  tardis/visualization/tools/liv_plot.py
  tardis/visualization/tools/sdec_plot.py
Labels: visualization, build-docs

#2699 Separate Continuum Tests
  .github/workflows/tests.yml
Labels: testing :vertical_traffic_light:, infrastructure, run-generation-tests

#2713 Move pip tests to release workflow
  .github/workflows/pre-release.yml
  .github/workflows/tests.yml
Labels: CI/CD, install, infrastructure

#2711 Shifting git cliff changelog generator configuration to pyproject.toml
  .github/workflows/post-release.yml
  cliff.toml
  pyproject.toml
Labels: CI/CD, infrastructure

#2717 Remove parameters and speed up benchmarks
  .github/workflows/benchmarks.yml
  benchmarks/transport_montecarlo_interaction.py
  benchmarks/transport_montecarlo_numba_interface.py
  benchmarks/transport_montecarlo_opacities.py
  benchmarks/transport_montecarlo_packet.py
  benchmarks/transport_montecarlo_vpacket.py
Labels: benchmarks

#2689 Spectrum refactor
  benchmarks/benchmark_base.py
  benchmarks/transport_montecarlo_main_loop.py
  benchmarks/transport_montecarlo_numba_formal_integral_p.py
  docs/io/optional/how_to_custom_source.ipynb
  docs/physics/spectrum/basic.ipynb
  docs/physics/update_and_conv/update_and_conv.ipynb
  docs/quickstart.ipynb
  tardis/conftest.py
  tardis/simulation/base.py
  tardis/spectrum/__init__.py
  tardis/spectrum/base.py
  tardis/spectrum/formal_integral.py
  tardis/spectrum/formal_integral_cuda.py
  tardis/spectrum/spectrum.py
  tardis/spectrum/tests/conftest.py
  tardis/spectrum/tests/test_cuda_formal_integral.py
  tardis/spectrum/tests/test_numba_formal_integral.py
  tardis/spectrum/tests/test_spectrum.py
  tardis/spectrum/tests/test_spectrum_solver.py
  tardis/tests/test_tardis_full.py
  tardis/tests/test_tardis_full_formal_integral.py
  tardis/transport/montecarlo/base.py
  tardis/transport/montecarlo/montecarlo_main_loop.py
  tardis/transport/montecarlo/montecarlo_transport_state.py
  tardis/transport/montecarlo/packet_collections.py
  tardis/transport/montecarlo/tests/conftest.py
  tardis/transport/montecarlo/tests/test_base.py
  tardis/transport/montecarlo/tests/test_montecarlo.py
  tardis/visualization/tools/sdec_plot.py
  tardis/visualization/widgets/line_info.py
Labels: montecarlo :game_die:, restructure, build-docs

#2726 Codecov fix
  .github/workflows/tests.yml
  tardis/tests/fixtures/regression_data.py
Labels: CI/CD, infrastructure

#2727 Fix Cache Issues
  .github/actions/setup_lfs/action.yml
  .github/workflows/tests.yml
Labels: testing :vertical_traffic_light:, CI/CD, infrastructure

#2728 Fix Failing docstr-cov Badge
  README.rst
Labels: bugfix :beetle:

#2725 Fast Formal Integral
  tardis/spectrum/formal_integral_cuda.py
Labels: formal integral

#2731 Fast formal integral
  tardis/spectrum/formal_integral_cuda.py
Labels: bugfix :beetle:, formal integral

#2613 [Restructure/plasma] restructure the Radiationfields
  docs/physics/nlte/nlte_rates.ipynb
  docs/physics/plasma/construction_simple_plasma.ipynb
  tardis/io/model/parse_radiation_field_configuration.py
  tardis/model/base.py
  tardis/plasma/nlte/__init__.py
  tardis/plasma/nlte/nlte_data.py
  tardis/plasma/properties/base.py
  tardis/plasma/properties/plasma_input.py
  tardis/plasma/properties/property_collections.py
  tardis/plasma/radiation_field/__init__.py
  tardis/plasma/radiation_field/planck_rad_field.py
  tardis/plasma/standard_plasmas.py
  tardis/radiation_field/opacities/__init__.py
  tardis/simulation/base.py
  tardis/transport/montecarlo/estimators/continuum_radfield_properties.py
  tardis/transport/montecarlo/estimators/dilute_blackbody_properties.py
  tardis/transport/montecarlo/montecarlo_transport_state.py
  tardis/transport/montecarlo/tests/test_packet.py
Labels: restructure

#2722 Refactor benchmarks
  .github/workflows/benchmarks.yml
  benchmarks/opacities_opacity.py
  benchmarks/opacities_opacity_state.py
  benchmarks/spectrum_formal_integral.py
  benchmarks/transport_montecarlo_estimators_radfield_estimator_calcs.py
  benchmarks/transport_montecarlo_interaction.py
  benchmarks/transport_montecarlo_main_loop.py
  benchmarks/transport_montecarlo_numba_formal_integral_p.py
  benchmarks/transport_montecarlo_packet.py
  benchmarks/transport_montecarlo_packet_trackers.py
  benchmarks/transport_montecarlo_single_packet_loop.py
Labels: benchmarks

#2734 Moves time explosion off the transport solver to the transport state
  tardis/simulation/base.py
  tardis/transport/montecarlo/base.py
  tardis/transport/montecarlo/montecarlo_transport_state.py
Labels: montecarlo :game_die:, restructure

#2664 [Restructure/plasma] Refactor the simulation state initialization
  tardis/io/model/parse_atom_data.py
  tardis/io/model/parse_packet_source_configuration.py
  tardis/io/model/parse_simulation_state.py
  tardis/io/model/readers/csvy.py
  tardis/plasma/properties/property_collections.py
  tardis/simulation/base.py
Labels: plasma, restructure

#2742 Fix Codecov
  .github/workflows/tests.yml
Labels: CI/CD, infrastructure

#2744 fix docs build by removing the `parse_simulation_state` function from the `tardis.io.model` module and moving it to the `tardis.io.model.parse_simulation_state` module
  tardis/io/model/parse_simulation_state.py
Labels: bugfix :beetle:, build-docs

#2660 Add ruff workflow
  .github/workflows/codestyle.yml
Labels: codestyle

#2735 Add solve method to SpectrumSolver
  tardis/simulation/base.py
  tardis/spectrum/base.py
  tardis/spectrum/tests/test_spectrum_solver.py
Labels: restructure, build-docs

#2740 Adds number_of_packets property to the packet collection
  tardis/transport/montecarlo/packet_collections.py
Labels: montecarlo :game_die:, restructure

#2747 Commit hash of PR HEAD not found fix
  .github/workflows/benchmarks.yml
Labels: benchmarks

#2718 Weighted Packet Sampler
  tardis/transport/montecarlo/tests/conftest.py
  tardis/transport/montecarlo/tests/test_montecarlo_main_loop.py
  tardis/transport/montecarlo/tests/test_weighted_packet_source.py
  tardis/transport/montecarlo/tests/test_weighted_packet_source_integration.py
  tardis/transport/montecarlo/weighted_packet_source.py
Labels: montecarlo :game_die:, benchmarks

#2754 Ruff Workflow Fix
  .github/workflows/codestyle.yml
Labels: priority - high :fire:, CI/CD, codestyle, infrastructure

#2753 Run stardis tests on Tardis PRs
  .github/workflows/stardis-tests.yml
Labels: testing :vertical_traffic_light:, CI/CD, infrastructure

#2745 Address pytest warnings
  .ci-helpers/update_credits.py
  docs/physics/pyplot/plot_mu_in_out_packet.py
  tardis/analysis.py
  tardis/analysis/opacities.py
  tardis/io/atom_data/base.py
  tardis/io/model/readers/blondin_toymodel.py
  tardis/io/tests/test_decay.py
  tardis/model/matter/decay.py
  tardis/plasma/properties/atomic.py
  tardis/plasma/tests/test_complete_plasmas.py
  tardis/spectrum/formal_integral_cuda.py
  tardis/transport/montecarlo/packet_source.py
  tardis/util/base.py
  tardis/visualization/plot_util.py
  tardis/visualization/tools/sdec_plot.py
  tardis/visualization/widgets/custom_abundance.py
  tardis/visualization/widgets/shell_info.py
Labels: testing :vertical_traffic_light:, build-docs, benchmarks, run-generation-tests

#2719 Restructure Trackers
  benchmarks/benchmark_base.py
  benchmarks/transport_montecarlo_main_loop.py
  benchmarks/transport_montecarlo_packet_trackers.py
  tardis/transport/montecarlo/base.py
  tardis/transport/montecarlo/configuration/base.py
  tardis/transport/montecarlo/montecarlo_main_loop.py
  tardis/transport/montecarlo/packet_trackers.py
  tardis/transport/montecarlo/tests/test_tracker_utils.py
Labels: benchmarks

#2670 Changed file path
  docs/working_gamma_ray_test.ipynb
  tardis/energy_input/docs/working_gamma_ray_test.ipynb
  tardis/energy_input/main_gamma_ray_loop.py
  tardis/io/configuration/tests/data/tardis_configv1_density_exponential_nebular_Ni_only.yml
Labels: documentation, gamma-ray

#2675 [Restructure/plasma] estimator cleanup
  benchmarks/opacities_opacity.py
  tardis/io/atom_data/base.py
  tardis/opacities/continuum/__init__.py
  tardis/opacities/continuum/bound_free.py
  tardis/opacities/macro_atom/continuum_processes/__init__.py
  tardis/opacities/macro_atom/continuum_processes/collisional_ion_trans_prob.py
  tardis/opacities/macro_atom/transition_probabilities.py
  tardis/opacities/opacities.py
  tardis/plasma/base.py
  tardis/plasma/properties/__init__.py
  tardis/plasma/properties/atomic.py
  tardis/plasma/properties/continuum_processes/__init__.py
  tardis/plasma/properties/continuum_processes/fast_array_util.py
  tardis/plasma/properties/continuum_processes/photo_ion_rate_coeff.py
  tardis/plasma/properties/continuum_processes/rates.py
  tardis/plasma/properties/continuum_processes/recomb_rate_coeff.py
  tardis/plasma/properties/general.py
  tardis/plasma/properties/ion_population.py
  tardis/plasma/properties/j_blues.py
  tardis/plasma/properties/plasma_input.py
  tardis/plasma/properties/property_collections.py
  tardis/plasma/properties/util/__init__.py
  tardis/plasma/properties/util/integrate_array_by_blocks.py
  tardis/plasma/radiation_field/planck_rad_field.py
  tardis/plasma/standard_plasmas.py
  tardis/simulation/base.py
  tardis/transport/montecarlo/base.py
  tardis/transport/montecarlo/estimators/__init__.py
  tardis/transport/montecarlo/estimators/base.py
  tardis/transport/montecarlo/estimators/continuum_radfield_properties.py
  tardis/transport/montecarlo/estimators/dilute_blackbody_properties.py
  tardis/transport/montecarlo/estimators/mc_rad_field_solver.py
  tardis/transport/montecarlo/estimators/tests/test_continuum_property_solver.py
  tardis/transport/montecarlo/montecarlo_transport_state.py
  tardis/transport/montecarlo/tests/test_opacities.py
Labels: build-docs, benchmarks

#2720 Benchmark run_tardis with track_rpacket enabled
  benchmarks/benchmark_base.py
  benchmarks/run_tardis.py
Labels: benchmarks
