Repository tardis-sn/tardis, pull requests merged in 2024-01, with the labels that each got.

#2476 Restructure/transport solver
  docs/io/optional/callback_example.ipynb
  docs/io/optional/custom_source.ipynb
  docs/physics/montecarlo/initialization.ipynb
  docs/physics/spectrum/basic.ipynb
  docs/physics/update_and_conv/update_and_conv.ipynb
  docs/quickstart.ipynb
  tardis/analysis.py
  tardis/gui/widgets.py
  tardis/io/model/hdf.py
  tardis/io/model/model_reader.py
  tardis/io/model_reader.py
  tardis/io/tests/test_model_reader.py
  tardis/model/geometry/radial1d.py
  tardis/model/parse_input.py
  tardis/model/tests/test_base.py
  tardis/montecarlo/base.py
  tardis/montecarlo/montecarlo_numba/__init__.py
  tardis/montecarlo/montecarlo_numba/base.py
  tardis/montecarlo/montecarlo_numba/estimators.py
  tardis/montecarlo/montecarlo_numba/formal_integral.py
  tardis/montecarlo/montecarlo_numba/numba_interface.py
  tardis/montecarlo/montecarlo_numba/packet_collections.py
  tardis/montecarlo/montecarlo_numba/tests/conftest.py
  tardis/montecarlo/montecarlo_numba/tests/test_base.py
  tardis/montecarlo/montecarlo_numba/tests/test_cuda_formal_integral.py
  tardis/montecarlo/montecarlo_numba/tests/test_packet.py
  tardis/montecarlo/montecarlo_state.py
  tardis/montecarlo/packet_source.py
  tardis/montecarlo/tests/test_base.py
  tardis/montecarlo/tests/test_montecarlo.py
  tardis/simulation/base.py
  tardis/simulation/tests/test_simulation.py
  tardis/tests/test_tardis_full.py
  tardis/tests/test_tardis_full_formal_integral.py
  tardis/transport/r_packet_transport.py
  tardis/visualization/tools/sdec_plot.py
  tardis/visualization/widgets/grotrian.py
  tardis/visualization/widgets/line_info.py
Labels: priority - high :fire:, restructure, build-docs

#2506 Remove workflow file that installs TARDIS using conda
  .github/workflows/conda-forge.yml
Labels: CI/CD, infrastructure

#2492 Restructure/separate transport state
  docs/io/output/rpacket_tracking.ipynb
  docs/io/visualization/montecarlo_packet_visualization.ipynb
  tardis/analysis.py
  tardis/conftest.py
  tardis/grid/tests/test_grid.py
  tardis/model/parse_input.py
  tardis/montecarlo/base.py
  tardis/montecarlo/montecarlo_configuration.py
  tardis/montecarlo/montecarlo_numba/__init__.py
  tardis/montecarlo/montecarlo_numba/base.py
  tardis/montecarlo/montecarlo_numba/estimators.py
  tardis/montecarlo/montecarlo_numba/formal_integral.py
  tardis/montecarlo/montecarlo_numba/interaction.py
  tardis/montecarlo/montecarlo_numba/numba_config.py
  tardis/montecarlo/montecarlo_numba/numba_interface.py
  tardis/montecarlo/montecarlo_numba/packet_collections.py
  tardis/montecarlo/montecarlo_numba/single_packet_loop.py
  tardis/montecarlo/montecarlo_numba/tests/conftest.py
  tardis/montecarlo/montecarlo_numba/tests/test_base.py
  tardis/montecarlo/montecarlo_numba/tests/test_cuda_formal_integral.py
  tardis/montecarlo/montecarlo_numba/tests/test_numba_interface.py
  tardis/montecarlo/montecarlo_numba/tests/test_packet.py
  tardis/montecarlo/montecarlo_numba/tests/test_r_packet.py
  tardis/montecarlo/montecarlo_numba/vpacket.py
  tardis/montecarlo/montecarlo_transport_state.py
  tardis/montecarlo/tests/test_base.py
  tardis/montecarlo/tests/test_montecarlo.py
  tardis/simulation/base.py
  tardis/tests/test_tardis_full.py
  tardis/transport/frame_transformations.py
  tardis/transport/geometry/calculate_distances.py
  tardis/transport/r_packet_transport.py
  tardis/visualization/tools/sdec_plot.py
  tardis/visualization/tools/tests/test_sdec_plot.py
Labels: restructure, build-docs
