Repository tardis-sn/tardis, pull requests merged in 2024-05, with the labels that each got.

#2598 Only Run Benchmarks Workflow When Owner is `tardis-sn`
  .github/workflows/benchmarks.yml
Labels: priority - high :fire:, CI/CD, infrastructure, benchmarks

#2561 Documentation typo
  docs/physics/montecarlo/basicprinciples.rst
  docs/physics/montecarlo/propagation.rst
Labels: documentation

#2565 GSoC 2024 | Benchmark | First objective | Israel Roldan
  .gitignore
  .mailmap
  asv.conf.json
  benchmarks/asv_by_release.bash
  benchmarks/benchmark_base.py
  benchmarks/benchmark_run_tardis.py
  benchmarks/data/tardis_configv1_benchmark.yml
  benchmarks/montecarlo_montecarlo_numba_interaction.py
  benchmarks/montecarlo_montecarlo_numba_numba_formal_integral_p.py
  benchmarks/montecarlo_montecarlo_numba_numba_interface.py
  benchmarks/montecarlo_montecarlo_numba_opacities.py
  benchmarks/montecarlo_montecarlo_numba_packet.py
  benchmarks/montecarlo_montecarlo_numba_r_packet.py
  benchmarks/montecarlo_montecarlo_numba_vpacket.py
  benchmarks/run_tardis.py
  benchmarks/util/__init__.py
  benchmarks/util/base.py
  benchmarks/util/nlte.py
  docs/contributing/development/benchmarks.rst
  docs/contributing/development/index.rst
  tardis/io/configuration/tests/data/tardis_configv1_verysimple_logger.yml
  tardis/io/model/readers/artis.py
  tardis/io/model/readers/blondin_toymodel.py
  tardis/io/model/readers/stella.py
  tardis/io/model/readers/tests/data/tardis_configv1_ascii_density_abund.yml
  tardis/io/model/readers/tests/data/tardis_configv1_isotope_iabund.yml
  tardis/io/model/readers/tests/data/tardis_configv1_isotope_uniabund.yml
  tardis/plasma/tests/data/plasma_base_test_config.yml
  tardis/util/base.py
Labels: benchmarks

#2560 Bug t radiative
  docs/physics/setup/model.ipynb
  tardis/model/geometry/radial1d.py
  tardis/model/parse_input.py
Labels: documentation, build-docs

#2587 Trigger docs only when something inside the docs folder changed
  .github/workflows/benchmarks.yml
  .github/workflows/build-docs.yml
Labels: CI/CD

#2611 Converted the reference data to regression in test TARDIS full
  tardis/tests/fixtures/regression_data.py
  tardis/tests/test_tardis_full.py
Labels: testing :vertical_traffic_light:

#2619 Fixed #2564 by bringing back the image from a previous commit
  docs/io/images/packet_diagram.jpg
  docs/io/visualization/tutorial_montecarlo_packet_visualization.ipynb
Labels: build-docs

#2618 Fixing build docs yaml to detect branches on forks
  .github/workflows/build-docs.yml
Labels: documentation

#2623 Revert "Updating the worfklow to use atomic data from cache rather th…
  .github/workflows/build-docs.yml
Labels: priority - high :fire:

#2603 NumberDensity as Input to plasma
  tardis/model/base.py
  tardis/plasma/properties/atomic.py
  tardis/plasma/properties/general.py
  tardis/plasma/properties/plasma_input.py
  tardis/plasma/properties/property_collections.py
  tardis/plasma/standard_plasmas.py
  tardis/plasma/tests/test_complete_plasmas.py
  tardis/plasma/tests/test_hdf_plasma.py
  tardis/tests/test_tardis_full_formal_integral.py
Labels: plasma, restructure, build-docs

#2584 PacketSource should contain `.to_hdf()` method
  tardis/io/util.py
  tardis/transport/montecarlo/packet_source.py
  tardis/transport/montecarlo/tests/test_packet_source.py
Labels: montecarlo :game_die:, build-docs

#2607 Remove DokuWiki Code
  docs/contributing/development/integration.yml
  docs/contributing/development/running_tests.rst
  tardis/tests/integration_tests/conftest.py
  tardis/tests/integration_tests/plot_helpers.py
  tardis/tests/integration_tests/report.py
  tardis/tests/integration_tests/runner.py
Labels: priority - low :snail:, testing :vertical_traffic_light:, infrastructure

#2624 Updating the docs to use local atomic data
  .github/workflows/build-docs.yml
Labels: build-docs

#2633 Fixed the imported modules.
  benchmarks/benchmark_base.py
  benchmarks/transport_montecarlo_packet.py
Labels: benchmarks

#2628 Updating actions to their latest version
  .github/actions/setup_lfs/action.yml
  .github/workflows/benchmarks.yml
  .github/workflows/build-docs.yml
  .github/workflows/clean-docs.yml
  .github/workflows/codestyle.yml
  .github/workflows/docstr-cov.yml
  .github/workflows/mailmap.yml
  .github/workflows/post-release.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/update-refdata.yml
Labels: bugfix :beetle:, CI/CD
