Repository tardis-sn/tardis, pull requests merged in 2024-12, with the labels that each got.

#2894 Fixing label issue in convergence plots (see Issue #2446)
  tardis/visualization/tools/convergence_plot.py
Labels: bugfix :beetle:, build-docs

#2865 Rates matrix solver
  docs/physics/plasma/equilibrium/chianti_solver.ipynb
  docs/physics/plasma/equilibrium/collisional_rate_coefficients.h5
  docs/physics/plasma/equilibrium/comparison.ipynb
  docs/physics/plasma/equilibrium/rates.ipynb
  docs/physics/plasma/equilibrium/tardis_solver.ipynb
  docs/physics/plasma/equilibrium/test_continuum_template_wkerzen_rate_coeffs.yml
  tardis/io/atom_data/base.py
  tardis/plasma/detailed_balance/rates/__init__.py
  tardis/plasma/electron_energy_distribution/__init__.py
  tardis/plasma/electron_energy_distribution/base.py
  tardis/plasma/equilibrium/__init__.py
  tardis/plasma/equilibrium/level_populations.py
  tardis/plasma/equilibrium/rate_matrix.py
  tardis/plasma/equilibrium/rates/__init__.py
  tardis/plasma/equilibrium/rates/collision_strengths.py
  tardis/plasma/equilibrium/rates/collisional_rates.py
  tardis/plasma/equilibrium/rates/radiative_rates.py
  tardis/plasma/equilibrium/tests/__init__.py
  tardis/plasma/equilibrium/tests/conftest.py
  tardis/plasma/equilibrium/tests/test_collisional_transitions.py
  tardis/plasma/equilibrium/tests/test_level_populations.py
  tardis/plasma/equilibrium/tests/test_rate_matrix.py
Labels: plasma

#2902 Fix Benchmarks Workflow
  .github/workflows/benchmarks.yml
Labels: CI/CD, benchmarks

#2901 Update test docs
  docs/contributing/development/running_tests.rst
Labels: build-docs
