Repository tardis-sn/tardis, pull requests merged in 2025-09, with the labels that each got.

#3270 Docs missing files
  docs/io/configuration/components/models/abundancecust/abund.dat
  docs/io/configuration/components/models/densitycust/density.dat
  docs/io/configuration/components/schemas
  docs/io/model/cmfgen_model.csv
  docs/io/model/mesa.stella.dat
Labels: build-docs

#3223 Standardize sorting with a global
  tardis/analysis.py
  tardis/configuration/__init__.py
  tardis/configuration/sorting_globals.py
  tardis/energy_input/main_gamma_ray_loop.py
  tardis/energy_input/samplers.py
  tardis/energy_input/tests/test_energy_source.py
  tardis/gui/widgets.py
  tardis/io/atom_data/base.py
  tardis/io/model/readers/arepo.py
  tardis/io/tests/test_atomic.py
  tardis/model/matter/composition.py
  tardis/model/matter/decay.py
  tardis/opacities/macro_atom/macroatom_solver.py
  tardis/opacities/macro_atom/transition_probabilities.py
  tardis/plasma/equilibrium/rates/collision_strengths.py
  tardis/plasma/equilibrium/rates/collisional_rates.py
  tardis/plasma/equilibrium/rates/radiative_rates.py
  tardis/plasma/properties/atomic.py
  tardis/plasma/properties/continuum_processes/rates.py
  tardis/transport/montecarlo/estimators/util.py
  tardis/visualization/tools/sdec_plot.py
  tardis/visualization/widgets/custom_abundance.py
  tardis/visualization/widgets/line_info.py
  tardis/workflows/tests/test_workflows.py
  tardis/workflows/util.py
Labels: build-docs, run-regression-comparison

#3281 Update Python to 3.13 in `pyproject.toml`
  pyproject.toml
Labels: configuration, CI/CD

#3288 Cuda Tests
  .github/workflows/full-tests.yml
  docs/contributing/development/continuous_integration.rst
Labels: full-tests

#3282 Implement downbranch into new macroatom.
  tardis/opacities/macro_atom/macroatom_solver.py
  tardis/opacities/macro_atom/macroatom_state.py
Labels: montecarlo :game_die:

#3250 Test the Cuda Formal Integral
  tardis/spectrum/formal_integral/formal_integral_cuda.py
  tardis/spectrum/formal_integral/formal_integral_solver.py
  tardis/spectrum/formal_integral/tests/test_cuda_formal_integral.py
Labels: bugfix :beetle:, full-tests

#3277 Viz modules `from_workflow` tests
  tardis/conftest.py
  tardis/visualization/tools/liv_plot.py
  tardis/visualization/tools/sdec_plot.py
  tardis/visualization/tools/tests/test_liv_plot.py
  tardis/visualization/tools/tests/test_sdec_plot.py
Labels: testing :vertical_traffic_light:, visualization
