Repository tardis-sn/tardis, pull requests merged in 2025-07, with the labels that each got.

#3173 Add back lockfiles for reference
  conda-linux-64.lock
  conda-lock.yml
  conda-osx-64.lock
  conda-osx-arm64.lock
Labels: CI/CD, install, infrastructure

#3208 Return formal integral to `v_inner_solver_workflow.ipynb`
  docs/workflows/v_inner_solver_workflow.ipynb
Labels: build-docs

#3197 Remove `qgridnext`
  docs/analyzing_tardis/visualization/how_to_generating_widgets.ipynb
  tardis/visualization/widgets/line_info.py
  tardis/visualization/widgets/shell_info.py
  tardis/visualization/widgets/tests/test_line_info.py
  tardis/visualization/widgets/util.py
Labels: visualization

#3145 Remove SDEC encoding and fix colors
  tardis/visualization/plot_util.py
  tardis/visualization/tests/test_plot_util.py
  tardis/visualization/tools/liv_plot.py
  tardis/visualization/tools/sdec_plot.py
Labels: visualization

#2976 Restructure/gamma rays code1
  docs/how_to_guides.rst
  docs/io/optional/how_to_custom_source.ipynb
  docs/workflows/high_energy/gamma_ray_code_merger_2012_comp.csvy
  docs/workflows/high_energy/merger_2012_100d_500ts_5e7_escape_energy.csv
  docs/workflows/high_energy/merger_2012_11_09_spectra_gamma.dat
  docs/workflows/high_energy/run_high_energy_workflow.ipynb
  docs/workflows/high_energy/tardis_config_merger_2012.yml
  tardis/energy_input/GXPacket.py
  tardis/energy_input/decay_radiation.py
  tardis/energy_input/energy_source.py
  tardis/energy_input/gamma_ray_channel.py
  tardis/energy_input/gamma_ray_packet_source.py
  tardis/energy_input/gamma_ray_transport.py
  tardis/energy_input/main_gamma_ray_loop.py
  tardis/energy_input/tests/test_gamma_ray_channel.py
  tardis/energy_input/tests/test_gamma_ray_packet_source.py
  tardis/energy_input/tests/test_gamma_ray_packet_source_minimal.py
  tardis/energy_input/transport/GXPacket.py
  tardis/energy_input/transport/__init__.py
  tardis/energy_input/transport/gamma_packet_loop.py
  tardis/energy_input/transport/gamma_ray_grid.py
  tardis/energy_input/transport/gamma_ray_interactions.py
  tardis/energy_input/transport/tests/__init__.py
  tardis/energy_input/transport/tests/conftest.py
  tardis/energy_input/transport/tests/test_gamma_ray_grid.py
  tardis/energy_input/transport/tests/test_gamma_ray_interactions.py
  tardis/energy_input/util.py
  tardis/io/model/parse_mass_fraction_configuration.py
  tardis/io/tests/test_decay.py
  tardis/io/util.py
  tardis/model/matter/composition.py
  tardis/model/matter/decay.py
  tardis/transport/montecarlo/packet_source.py
  tardis/util/base.py
  tardis/workflows/high_energy/__init__.py
  tardis/workflows/high_energy/tardis_he_workflow.py
  tardis/workflows/high_energy/tests/__init__.py
  tardis/workflows/high_energy/tests/conftest.py
  tardis/workflows/high_energy/tests/data/gamma_ray_code_ddet_2020_1a_comp.csvy
  tardis/workflows/high_energy/tests/data/gamma_ray_code_ddt_n100_comp.csvy
  tardis/workflows/high_energy/tests/data/gamma_ray_code_def_n5_2014.csvy
  tardis/workflows/high_energy/tests/data/gamma_ray_code_merger_2012_comp.csvy
  tardis/workflows/high_energy/tests/data/tardis_config_ddt_n100.yml
  tardis/workflows/high_energy/tests/data/tardis_config_def_n5_2014.yml
  tardis/workflows/high_energy/tests/data/tardis_config_doubledet_2020_1a.yml
  tardis/workflows/high_energy/tests/data/tardis_config_merger_2012.yml
  tardis/workflows/high_energy/tests/data/tardis_he_test_config.yml
  tardis/workflows/high_energy/tests/data/tardis_he_test_model.csvy
  tardis/workflows/high_energy/tests/test_tardis_he_workflow.py
Labels: gamma-ray

#3212 fix more \AA warnings
  docs/io/optional/how_to_custom_source.ipynb
  docs/workflows/simple_workflow.ipynb
  docs/workflows/simple_workflow_equilibrium.ipynb
  docs/workflows/standard_workflow.ipynb
Labels: build-docs
